* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#display {
    width: 99%;
    height: 60px;
    background-color: #eee;
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 10px;
}

#container {
    margin-top: 100px;
    margin-left: 400px;
    border: 2px solid #000;
    border-radius: 10px;
    max-width: 470px;
}

button {
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 400;
}
